html,
body {
	height: 100%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix::after {
	clear: both;
	content: "";
	display: table;
}

a {
	color: inherit;
	text-decoration: none;
}

li {
	list-style: none;
}

ul li:last-child {
	margin-bottom: 0;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

button,
label {
	cursor: pointer;
}

input,
button,
textarea {
	background: none;
	border: none;
	outline: none;
	display: block;
	width: 100%;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}

input[type="radio"],
input[type="checkbox"] {
	display: none;
}

input::placeholder {
	color: inherit;
}

button {
	cursor: pointer;
}

input,
textarea {
	display: block;
	resize: none;
}

body {
	font-size: 14px;
	line-height: 19px;
	color: #242424;
	width: 100%;
	font-family: 'Lato';
}

.conteiner {
	max-width: 1325px;
	width: 100%;
	min-width: 320px;
	margin: 0 auto;
	padding: 0 15px;
}

.dn {
	display: none;
}

section {
	padding: 100px 0;
}

.sec_tit {
	font-weight: 800;
	font-size: 42px;
	line-height: 57px;
	text-align: center;
	margin: 0 auto;
}

.dib {
	display: inline-block;
}

.hover {
	transition: 0.3s;
}

.btn_main {
	border-radius: 10px;
	font-weight: 800;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	text-transform: uppercase;
	height: 85px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 14px 0;
	transition: 0.3s;
}
.btn_main:hover{
	scale: 1.1;
}
.link {
	transition: 0.3s;
}

.flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

/* header */

header {
	background: url(../img/header_background.jpg) 50% 50%/cover no-repeat;
	background-position: 50% 50%;
	padding: 0;
	height: 1080px;
	margin-bottom: 180px;
}

.header_nav {
	margin: auto;
	/* width: 1230px; */
	margin-bottom: 200px;
}

.headre_logo {
	width: 130px;
	display: block;
	margin-top: 15px;
}

.navigation {
	width: 500px;
	font-family: Lato;
	font-size: 16px;
	font-weight: 700;
	line-height: 26px;
	letter-spacing: 0em;
	text-align: left;
	color: rgba(255, 255, 255, 0.584);
	margin-top: 13px;
}

.header_btn {
	width: 199px;
	height: 52px;
	background: #7772F1;
	color: white;
	transition: 0.3s;
}

.header_tittle {
	width: 40%;
}

.header_main {
	margin-bottom: 215px;
}

.header_main_img {
	width: 590px;
}

.sec_tit {
	font-size: 47px;
	font-weight: 900;
	line-height: 94px;
	letter-spacing: 1px;
	text-align: left;
	color: #FFFFFF;
	margin-right: 20px;
}

.sec_tit_blue {
	font-size: 45px;
	font-weight: 900;
	line-height: 94px;
	letter-spacing: 1px;
	text-align: left;
	color: #7772F1;
}

.header_tit_bottom_btn {
	justify-content: start;
}

.header_tit_btn {
	margin-right: 24px;
}

.header_tit__btn {
	width: 220px;
	height: 52px;
	color: white;
	border-radius: 4px;
	border: solid 1px #FFFFFF;
	margin-top: 17px;
	margin-right: 24px;
}

.header_tit__btn___play {
	width: 158px;
	color: white;
}

.btn_play {
	width: 57px;
}

.header_icon {
	width: 352px;
	justify-content: start;
}

.head_icon {
	width: 30px;
	display: block;
	margin-right: 14px;
}

.header_icon_txt {
	font-family: Lato;
	font-size: 20px;
	font-weight: 700;
	line-height: 30px;
	letter-spacing: 0em;
	text-align: left;
	color: white;
}

.header_bottom_icons_line {
	width: 40px;
	background: url(../img/icons/divider.svg) no-repeat center;
}

.header_bottom_icons {
	margin-bottom: 80px;
}

/* createx */
.createx_agency {
	width: 40%;
}

.createx_tit {
	font-family: Lato;
	font-size: 46px;
	font-weight: 900;
	line-height: 60px;
	letter-spacing: 0em;
	text-align: left;
	color: #1E212C;
	margin-bottom: 40px;
}

.createx_txt {
	font-family: Lato;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: 0em;
	text-align: left;
	color: #787A80;
	max-width: 390px;
	margin-bottom: 48px;
}

.createx_btn {
	background: #7772F1;
	width: 161px;
	height: 44px;
	color: white;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 0.5px;
}

/* services */

.tab-content {
	margin-left: 14px;
}

.main_services_tit {
	font-size: 46px;
	font-weight: 900;
	line-height: 60px;
	letter-spacing: 0em;
	text-align: center;
	color: #1E212C;
	margin-bottom: 40px;
}

.services_tab_left {
	width: 40%;
}

.services_tit {
	font-size: 28px;
	font-weight: 700;
	line-height: 42px;
	letter-spacing: 0em;
	text-align: left;
	max-width: 390px;
	margin-top: 60px;
	margin-bottom: 24px;
}

.services_lists {
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: 0em;
	text-align: left;
	margin-bottom: 48px;
}

.services_list {
	margin-bottom: 12px;
}

.services_list::before {
	background: url(../img/icons/services_list_mark.png);
}

.services_btns {
	max-width: 328px;
}

.btn_main__white {
	width: 140px;
	height: 44px;
	border-radius: 4px;
	border: 1px solid #7772F1;
}

.btn_main__blue {
	background: #7772F1;
	width: 161px;
	height: 44px;
	color: white;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 0.5px;
}

.services_tab_right {
	width: 60%;
}

/* get */
.get {
	background: url(../img/get_background.jpg)50% 50%/cover no-repeat;
	margin-bottom: 135px;
}

.get_input_main {
	width: 285px;
}

.get_txt {
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: 0em;
	text-align: left;
	color: white;
}

.get_input {
	opacity: 30%;
	color: white;
	/* background: white; */
	padding: 13px 0 13px 16px;
	border: 1px solid #fff;
}

.get_inputs {
	margin-bottom: 24px;
}

.get_input_bottom {
	margin-bottom: 48px;
}

.get_btn {
	background: #7772F1;
	width: 220px;
	height: 52px;
	color: white;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 0.5px;
	float: right;
}

.get_txt_bottom {
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: 0em;
	text-align: left;
	color: #fff;
	max-width: 287px;
}

/* freequently */
.freequently_main {
	margin-bottom: 74px;
}

.freequently_left {
	width: 60%;
}

.freequently_right {
	width: 30%;
}

.freequently_tit {
	font-size: 46px;
	font-weight: 900;
	line-height: 60px;
	letter-spacing: 0em;
	text-align: left;
	color: #1E212C;
}

.panel-default>.panel-heading {
	color: #333;
	background-color: #fff;
	border-color: #e4e5e7;
	padding: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.panel-default>.panel-heading a {
	display: block;
	padding: 10px 15px;
}

.panel-default>.panel-heading a:after {
	content: "";
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	float: right;
	transition: transform .25s linear;
	-webkit-transition: -webkit-transform .25s linear;
}

.panel-default>.panel-heading a[aria-expanded="true"] {
	background-color: #eee;
}

.panel-default>.panel-heading a[aria-expanded="true"]:before {
	content: "\2212";
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

.panel-default>.panel-heading a[aria-expanded="false"]:before {
	content: "\002b";
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.accordion-option {
	width: 100%;
	float: left;
	clear: both;
	margin: 15px 0;
}

.accordion-option .title {
	font-size: 20px;
	font-weight: bold;
	float: left;
	padding: 0;
	margin: 0;
}

.accordion-option .toggle-accordion {
	float: right;
	font-size: 16px;
	color: #6a6c6f;
}

.accordion-option .toggle-accordion:before {
	content: "Expand All";
}

.accordion-option .toggle-accordion.active:before {
	content: "Collapse All";
}

.freequently_btn {
	background: #7772F1;
	width: 185px;
	height: 44px;
	color: white;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 0.5px;
	float: left;
}

.freequently_btn_icon {
	width: 16px;
	height: 16px;
	margin-left: 8px;
}